@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat' ,Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #0873C8;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em;
  font-size: 3vw;
}

header .logo {
  color: #FFBE4E;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #2889D6;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
}

.meet span {
  margin-top: 1em;
  margin-right: .5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured-sde {
  position: relative;
}

.featured-sde::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 80px 80px 80px 80px;
  border-color: #C7E6FF transparent transparent #C7E6FF;
  margin-top: 20px;
  margin-left: 20px;
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
  color: #0873C8;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: #4B4B4B;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -.5em;
  display: block;
}

.featured-desc {
  color: #4B4B4B;
  margin-bottom: 3em;
  font-size: .85em;
  line-height: 2em;
  font-weight: 500px;
}

.other-projects {
  background: #7FC4FB;
}

.project-container ul li {
  background: white;
  padding: 3em;
  border-radius: 2em;
  margin-bottom: 1em;
  margin-left: -20px;
  margin-right: -20px;
}

.project-container ul li .icon-container {
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  place-content: center;
  margin-bottom: -6em;
}

.project-container ul li .icon-container.one {
  width: 100%;
}

.project-container ul li .icon-container.two {
  width: 100%;
}

.project-container ul li .project-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 5vw;
}

.project-container ul li .project-desc {
  color: #4B4B4B;
  margin-bottom: 2em;
  font-size: 8vw;
}

.project-container ul li .reduxoku-link {
  font-weight: bold;
  color: #0873C8;
  font-size: 4vw;
  margin-left: -10px;
  text-align: center;
}

.project-container ul li .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10 auto;
}

.featured-des::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 80px 80px 80px 80px;
  border-color: #C7E6FF #C7E6FF transparent transparent;
  margin-top: 20px;
  margin-right: 20px;
}

.featured-des {
  position: relative;
}

.featured-des .decal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-des .decal .column {
  padding: 1em;
}

.roles {
  background: #0873C8;
}

.roles h1 {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}

.roles ul .image-container {
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  display: block;
}

.roles ul .image-container.one {
  height: 200px;
  width: 200px;
}

.roles ul .image-container.two {
  height: 200px;
  width: 200px;
}

.roles ul li {
  margin-bottom: 2em;
}

.roles ul li .text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.roles ul li .role-title {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}

.roles ul li .role-desc {
  color: white;
  margin-bottom: 2em;
}

.skills {
  position: relative;
}

.skills h1 {
  color: #4B4B4B;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.skills .skills-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  margin-left: auto;
  margin-right: auto;
  grid-gap: auto;
}

.skills .skills-container .skill-middle .skill-left .skill-right {
  display: block;
}

.skills .skills-container .icon-container {
  height: 200px;
}

.skills .skills-container .icon-container.one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
}

.skills .skills-container .icon-container.two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
}

.skills .skills-container .icon-container.three {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 70%;
}

.skills .skills-container .skill-title {
  font-weight: bold;
  color: #0873C8;
  font-size: 25px;
}

.skills .skills-container .skill-list {
  font-size: 15px;
  text-align: center;
}

.skills .skills-container .skill-list ul {
  list-style: square;
}

.skills .skills-container .skill-list li {
  text-align: left;
}

.about {
  background: #7FC4FB;
}

.about h1 {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.about h2 {
  color: white;
  text-align: center;
}

.about .about-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% auto;
      grid-template-rows: 30% auto;
}

.about .education {
  margin-left: 3em;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
}

.about .education .icon-container2 {
  height: 100px;
  margin-right: 20px;
}

.about .education ul {
  color: white;
  text-align: left;
  font-size: 20px;
}

.about .contact {
  margin-left: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% auto;
      grid-template-rows: 15% auto;
  color: white;
}

.about .contact .email {
  display: -ms-grid;
  display: grid;
  margin-top: 1em;
  margin-left: 2em;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  margin-right: 1em;
  font-weight: bold;
  text-align: left;
}

.about .contact .email .icon-container2 {
  height: auto;
  margin-right: 1em;
}

.about .contact .phone {
  margin-top: 2em;
  margin-left: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2em;
}

.about .contact .phone .icon-container2 {
  height: auto;
  width: 80%;
  margin-right: 1em;
}

.about .who-am-i {
  color: white;
}

.about .who-am-i h3 {
  text-decoration: underline;
}

.about .Resume a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.about .Resume a .Download {
  margin-left: auto;
  margin-right: auto;
  font-size: 4vw;
  color: #FFFFFF;
}

.footer {
  background: #0873C8;
}

.footer .Footer-nav {
  display: none;
}

.footer .social-header2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 800px) {
  header {
    font-size: 15px;
    padding: 2em;
  }
  .featured-sde {
    text-align: left;
  }
  .featured-sde {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: auto;
    margin-right: 20px;
  }
  .left .featured-desc {
    font-size: 1.5vw;
  }
  .other-projects {
    margin-top: -5em;
  }
  .project-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    grid-gap: 4em;
  }
  .project-container ul li .project-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 3vw;
  }
  .project-container ul li .project-desc {
    color: #4B4B4B;
    margin-bottom: 2em;
    font-size: 4vw;
  }
  .project-container ul li .reduxoku-link {
    font-weight: bold;
    color: #0873C8;
    font-size: 2vw;
    margin-left: -10px;
    text-align: center;
  }
  .featured-des {
    text-align: right;
  }
  .featured-des {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .featured-des .right .featured-desc {
    text-align: right;
    display: block;
    float: right;
    width: 80%;
    font-size: 1.5vw;
  }
  .roles ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
    text-align: left;
  }
  .roles ul li .text {
    margin-left: 3.5em;
  }
  .skills .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills .skills-container .icon-container {
    height: 40%;
    margin-bottom: 2em;
  }
  .skills .skills-container .icon-container.one {
    width: 80%;
  }
  .skills .skills-container .icon-container.two {
    width: 60%;
  }
  .skills .skills-container .icon-container.three {
    width: 55%;
  }
  .skills .skills-container .skill-middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .skills .skills-container .skill-middle .middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .skills .skills-container .skill-title {
    font-size: 2vw;
  }
  .skills .skills-container .skill-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
  }
  .about h1 {
    text-align: left;
  }
  .about h2 {
    text-align: left;
    margin-left: 2em;
  }
  .about .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto;
        grid-template-columns: 30% auto;
  }
  .about .about-container .about-description {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .about .about-container .about-description .education ul {
    font-size: 2vw;
  }
  .about .about-container .about-description .contact {
    margin-top: -1em;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .about .about-container .about-description .contact .email {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% auto;
        grid-template-columns: 25% auto;
    margin-left: 0em;
    margin-right: 0em;
  }
  .about .about-container .about-description .contact .email .icon-container2 {
    width: 100%;
  }
  .about .about-container .about-description .contact .email ul {
    font-size: 2vw;
    margin-left: 1em;
  }
  .about .about-container .about-description .contact .phone {
    margin-left: 3em;
    -ms-grid-columns: 25% auto;
        grid-template-columns: 25% auto;
    font-size: 2vw;
  }
  .about .who-am-i {
    text-align: left;
    font-size: 2vw;
  }
  .about .Resume a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  .about .Resume a .Download {
    font-size: 2.5vw;
    color: #FFFFFF;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #0873C8;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 12em;
    float: right;
  }
  .social-header ul img {
    width: 40px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #2889D6;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
    margin-left: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .about .Resume a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  .about .Resume a .Download {
    font-size: 1.5vw;
    color: #FFFFFF;
  }
  .footer footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
  }
  .footer footer .Footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em 2em 2em 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer footer .Footer-nav a {
    color: white;
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */